<footer>
  <section class="infoFooter">
    <section class="logoFooter">
      <a href="#">
      <figure class="logo">
      <img src="assets/img/logo.png" alt="logo" class="fotoFooter" />
      </figure>
    </a>
      <p><i class="fa-solid fa-map-pin"></i> Quito - Ecuador</p>
      <p><i class="fa-solid fa-phone"></i> +593 968606111</p>
    </section>
    <section class="infoDerecha">
      <section class="redesSociales">
        <a href="https://www.instagram.com/" class="icono">
          <img src="assets/img/Instagram.webp" alt="Ig" />
        </a>
        <a href="https://twitter.com/?lang=es" class="icono">
          <img src="assets/img/x.jpg" alt="X" />
        </a>
      </section>
      <p><i class="fa-solid fa-envelope"></i> <a href="mailto:smdiaz5&#64;espe.edu.ec">smdiaz5&#64;espe.edu.ec</a></p>
      <p><i class="fa-solid fa-square-envelope"></i> <a href="mailto:stefany152005&#64;gmail.com">stefany152005&#64;gmail.com</a></p>
      <section class="copyright">&copy; Stefany Díaz</section>
    </section>
  </section>
</footer>
